a {
  text-decoration: none;
}

address {
  font-style: normal;
}

:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --another-bg-color: #f5f4fa;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --studio-text-color: #000000;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-left {
  color: var(--accent-text-color);
}

.logo-right-up {
  color: var(--studio-text-color);
}

.logo-right-down {
  color: var(--primary-bg-color);
}

/* Site nav */

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.link:hover,
.link:focus,
.current {
  color: var(--accent-text-color);
}

.contacts {
  margin-left: auto;
}

.contacts .link,
.contacts-bottom .link {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts .link:nth-child(2n) {
  margin-left: 50px;
}

.contacts .link:hover,
.contacts .link:focus,
.contacts-bottom .link:hover,
.contacts-bottom .link:focus {
  color: var(--accent-text-color);
}

/* Hero */

.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero div {
  text-align: center;
}

.button {
  background-color: var(--accent-text-color);
  color: var(--primary-bg-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Preferences */

.preferences-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.profession {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Presentation */

.presentation .title-h2,
.team .title-h2 {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Team */

.team {
  background-color: var(--another-bg-color);
}

.member div {
  text-align: center;
  background-color: var(--primary-bg-color);
}

.member h3 {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* Footer */

footer {
  background-color: var(--secondary-bg-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: var(--primary-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address:hover,
.address:focus {
  color: var(--accent-text-color);
}

.contacts-bottom {
  display: flex;
  flex-direction: column;
}

.contacts-bottom .link {
  margin-top: 9px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

/* Portfolio */

.condition {
  font-family: "Roboto", sans-serif;
  background-color: var(--another-bg-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.condition:hover,
.condition:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-bg-color);
}

.project-name {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
